@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100;
}

input,
textarea,
select,
button {
  @apply rounded border border-zinc-700 bg-zinc-900 px-3 py-2 text-sm;
}

button {
  @apply bg-zinc-100 text-zinc-900 transition hover:bg-zinc-300;
}
